body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}
body, html{
    font-size: 100%; // 在根目录设置该值，可直接按照1rem=16px的比例来转换
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
body{
    line-height: 1;
    color: @black;
    // background-color: @bgColor;
    font-family: PingFangSC-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: ''
}
blockquote, q {
    quotes: ''
}
input, textarea {
    margin: 0;
    padding: 0;
}
fieldset, img{
    border: 0;
}
address, caption, cite, code,dfn, em, strong, th, var, optgroup{
    font-style: normal;
    font-weight: normal;
}
ul, ol, li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
a, a:hover{
    text-decoration: none;
    outline: none;
    color: @black;
}


// common styles
.wrapper{
    margin-left: 20rem;
    padding: .5rem 1rem;
}


// interview question common style
.interview-question{
    .question{
        padding: .4rem 0;
        font-weight: 600;
        cursor: pointer;
    }
    .answer, .code{
        padding: .4rem .8rem;
        margin-bottom: .4rem;
        color: @purple;
        background-color: @bgColor;
        span{
            display: block;
            margin-bottom: .4rem;
            line-height: 1.4rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

// @media
@media (max-width: 1024px) {
    .sidebar{
        width: 15rem !important;
    }
}